# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description= Demura Tn Service
SourcePath=/usr/bin/DemuraTnService
Requires=VMFileTransferService.service
After=VMFileTransferService.service
StartLimitIntervalSec=0

[Service]
User=system
Groups=system
SupplementaryGroups=wakelock
Restart=no
RemainAfterExit=no
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/DemuraTnService
AmbientCapabilities=CAP_BLOCK_SUSPEND

[Install]
WantedBy=multi-user.target
